@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AbonentIndexModel;

<div class="row">
    <div class="col-md-12">
        <div class="block basic-buttons-rounded">
            <div class="block-heading">
                <div class="main-text h2">
                    Əməliyatlar
                </div>
                <div class="block-controls">
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <button type="submit" style="margin-bottom:4px;" class="btn btn-primary rounded">
                        <span class="glyphicon glyphicon-save"></span>
                        Yadda Saxla
                    </button>
                    <button type="button" class="btn btn-primary rounded" style="margin-bottom:4px;">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Yeni ƏlavəModuna Keç
                    </button>
                    <button type="button" class="btn btn-primary rounded" style="margin-bottom:4px;">
                        <span class="glyphicon glyphicon-search"></span>
                        Abonent Axtarışı
                    </button>
                    <button type="button" class="btn btn-primary rounded btnSil" style="margin-bottom:4px;">
                        <span class="glyphicon glyphicon-home"></span>
                        Sil
                    </button>
                    <button type="button" class="btn btn-primary rounded">
                        <span class="glyphicon glyphicon-log-in"></span>
                        Log
                    </button>
                    <button type="button" class="btn btn-primary rounded" style="margin-bottom:4px;">
                        <span class="glyphicon glyphicon-home"></span>
                        Saldo
                    </button>
                    <a type="button" asp-controller="Abonentler" asp-action="Subcontrol" asp-route-id="@Model.Subscriber.SUBID" class="btn btn-primary rounded btnSubcontrol" style="margin-bottom:4px;">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        Göstəricilər
                    </a>
                    <a type="button" asp-controller="Abonentler" asp-action="Payments" asp-route-id="@Model.Subscriber.SUBID" class="btn btn-primary rounded" style="margin-bottom:4px;">
                        <span class="glyphicon glyphicon-usd"></span>
                        Ödəmələr
                    </a>
                    <a type="button" class="btn btn-primary rounded" style="margin-bottom:4px;">
                        <span class="glyphicon glyphicon-edit"></span>
                        Sayğac Dəyişiklikləri
                    </a>
                    <button type="button" class="btn btn-primary rounded" style="margin-bottom:4px;">
                        <span class="glyphicon glyphicon-folder-close"></span>
                        Aktlar
                    </button>
                    <button type="button" class="btn btn-primary rounded" style="margin-bottom:4px;">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        Tariflər
                    </button>
                    <button type="button" class="btn btn-primary rounded" style="margin-bottom:4px;">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                        Üst Abonentlər
                    </button>
                    <button type="button" class="btn btn-primary rounded" style="margin-bottom:4px;">
                        <span class="glyphicon glyphicon-folder-close"></span>
                        Arayışlar
                    </button>
                    <button type="button" class="btn btn-primary rounded">
                        <span class="glyphicon glyphicon-home"></span>
                        Mənzil Məlumatları
                    </button>
                    <button type="button" class="btn btn-primary rounded">
                        <span class="glyphicon glyphicon-star"></span>
                        İmtiyazlar
                    </button>
                    <button type="button" class="btn btn-primary rounded">
                        <span class="glyphicon glyphicon-inbox"></span>
                        Tarixçə
                    </button>
                    <button type="button" class="btn btn-primary rounded">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                        Alt Abonentlər
                    </button>
                    <button type="button" class="btn btn-primary rounded">
                        <span class="glyphicon glyphicon-home"></span>
                        Güzəştlər
                    </button>
                    <input type="hidden" class="ModalAC " data-toggle="modal" data-target="#ABONENTINSECILMESI-modal" />
                    <input type="hidden" class="GostericiModalAC " data-toggle="modal" data-target="#GOSTERICI-modal" />
                    @*<button class="btn btn-warning ModalAC" type="button" data-toggle="modal" data-target="#ABONENTINSECILMESI-modal"></button>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Əsas Axtarış
                </div>
                <div class="block-controls">
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer" style="height:550px;">
                <div class="block-content-inner">
                    @*InputWithButton*@
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="col-sm-3">SubjectID(*)</label>
                            <div class="input-group col-sm-9">
                                <select id="input-demo-v" name="RayonID" class="form-control SubjectIDSELECT">
                                    <option>Subject Seçin</option>
                                    @foreach (var subject in Model.Subjects)
                                    {
                                        if (subject.SUBJECTID == ViewBag.seherID)
                                        {
                                            <option selected value="@subject.SUBJECTID">@subject.NAME</option>
                                        }
                                        else
                                        {
                                            <option value="@subject.SUBJECTID">@subject.NAME</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="col-sm-3">SubID(*)</label>
                            <div class="input-group">
                                <input type="text" class="form-control col-sm-9 SUBIDTEXTBOX" value="@Model.Subscriber.SUBID" name="SUBID">
                                <span class="input-group-btn">
                                    <button class="btn btn-warning ABONENTINSEARCH" type="button"><span class="glyphicon glyphicon-zoom-in"></span>Axtarış</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="col-sm-3">MatrixID(*)</label>
                            <div class="input-group col-sm-9 MATRIXIDSELECTDIV">
                                <select id="input-demo-v" name="MatrixID" class="form-control SELECTMATRIXID">
                                    <option>Matrix Seçin</option>
                                    @foreach (var matrix in Model.Matrices)
                                    {
                                        if (matrix.MATRIXID == ViewBag.matrixID)
                                        {
                                            <option selected value="@matrix.MATRIXID">@matrix.NAME</option>
                                        }
                                        else
                                        {
                                            <option value="@matrix.MATRIXID">@matrix.NAME</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    @*Input*@
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="col-sm-3">Köhnə Kod</label>
                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" name="CODE_1" value="@Model.Subscriber.CODE_1">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="col-sm-3">KÜÇƏ(*)</label>
                            <div class="input-group col-sm-9">
                                <select id="input-demo-v" class="form-control SELECTKÜÇƏ" name="KUCE">
                                    <option>Küçə Seçin</option>
                                    @foreach (var street in Model.Streets)
                                    {
                                        if (street.STREETID == ViewBag.kuceID)
                                        {
                                            <option selected value="@street.STREETID">@street.NAME</option>
                                        }
                                        else
                                        {
                                            <option value="@street.STREETID">@street.NAME</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="col-sm-3">Ad(*)</label>
                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" name="NAME" value="@Model.Subscriber.NAME">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="col-sm-3">BINA/EV(*)</label>
                            <div class="input-group col-sm-9">
                                <select id="input-demo-v" class="form-control" name="BinaID">
                                    @if (ViewBag.binaID == "0010")
                                    {
                                        <option selected value="0010">Bina 1</option>
                                    }
                                    @if (ViewBag.binaID == "0020")
                                    {
                                        <option selected value="0020">Bina 2</option>
                                    }
                                    @if (ViewBag.binaID == "0030")
                                    {
                                        <option selected value="0030">Bina 3</option>
                                    }
                                    @if (ViewBag.binaID == "0040")
                                    {
                                        <option selected value="0040">Bina 4</option>
                                    }
                                    @if (ViewBag.binaID == "0050")
                                    {
                                        <option selected value="0050">Bina 5</option>
                                    }
                                    <option value="BinaSecimi">Seçin.</option>
                                    <option value="0010">Bina 1</option>
                                    <option value="0020">Bina 2</option>
                                    <option value="0030">Bina 3</option>
                                    <option value="0040">Bina 4</option>
                                    <option value="0050">Bina 5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="col-sm-3">Soyad</label>
                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" name="SURNAME" value="@Model.Subscriber.SURNAME">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="col-sm-3">Mənzil</label>
                            <div class="input-group col-sm-9">
                                <select id="input-demo-v" class="form-control" name="MenzilID">
                                    <option value="MenzilSecimi">Menzil Seçin</option>
                                    @if (ViewBag.evID == "0001")
                                    {
                                        <option selected value="0010">Menzil 1</option>
                                    }
                                    @if (ViewBag.evID == "0002")
                                    {
                                        <option selected value="0020">Menzil 2</option>
                                    }
                                    @if (ViewBag.evID == "0003")
                                    {
                                        <option selected value="0030">Menzil 3</option>
                                    }
                                    @if (ViewBag.evID == "0004")
                                    {
                                        <option selected value="0040">Menzil 4</option>
                                    }
                                    @if (ViewBag.evID == "0005")
                                    {
                                        <option selected value="0050">Menzil 5</option>
                                    }
                                    <option value="0001">Menzil 1</option>
                                    <option value="0002">Menzil 2</option>
                                    <option value="0003">Menzil 3</option>
                                    <option value="0004">Menzil 4</option>
                                    <option value="0005">Menzil 5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="col-sm-3">Ata Adı</label>
                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" name="MIDDLENAME" value="@Model.Subscriber.MIDDLENAME">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="col-sm-3">Ailə Tərkibi(Say\*)</label>
                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="col-sm-3">Status</label>
                            <div class="input-group col-sm-9">
                                <select id="input-demo-v" class="form-control SELECT" name="STATUS">
                                    <option>Status Seçin</option>
                                    @foreach (var status in Model.Statuses)
                                    {
                                        if (status.ID == ViewBag.status)
                                        {
                                            <option selected value="@status.ID">@status.NAME</option>
                                        }
                                        else
                                        {
                                            <option value="@status.ID">@status.NAME</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="col-sm-3">Odəniş İcazəsi</label>
                            <div class="input-group col-sm-9">
                                <select id="input-demo-v" class="form-control SELECT" name="ACCEPT_PAYMENTS">
                                    <option>Seçin</option>
                                    @foreach (var accept_Payment in Model.Accept_Payments)
                                    {
                                        if (ViewBag.acceptPayment == accept_Payment.ID)
                                        {
                                            <option selected value="@accept_Payment.ID">@accept_Payment.NAME</option>
                                        }
                                        else
                                        {
                                            <option value="@accept_Payment.ID">@accept_Payment.NAME</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="col-sm-4">Göstərici Günü</label>
                            <div class="input-group col-sm-8" id="datetimepicker3">
                                <input type="date" class="form-control" autocomplete="off" name="DEBETDATE" value="@Convert.ToDateTime(Model.Subscriber.DEBETDATE).ToString("yyyy-MM-dd")">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" value="150" style="text-emphasis-color:red;" disabled class="form-control">
                            </div>
                        </div>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="col-sm-3">Ünvan</label>
                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" rows="2" id="input-demo-h" value="@Model.Subscriber.HOUSE" name="HOUSE"></input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-content-outer" style="height:500px;">
                <div class="block-content-inner">
                    <ul id="default-tabs-justified" class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#default-tabs-justified-home" data-toggle="tab">Əlavə Məlumatlar</a></li>
                        <li><a href="#default-tabs-justified-profile" data-toggle="tab">Tarif və Sahə Məlumatları</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="default-tabs-justified-home" class="tab-pane active">
                            <div class="col-md-6">
                                <div class="form-group form-horizontal">
                                    <label for="exampleInputEmail1" class="col-sm-3">Telefon Nömrəsi</label>
                                    <div class="input-group col-sm-9">
                                        <input type="tel" class="form-control" autocomplete="off" name="CONTACT" value="@Model.Subscriber.CONTACT">
                                        <span class="input-group-addon input-group-icon">
                                            <span class="glyphicon glyphicon-phone"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-horizontal">
                                    <label for="exampleInputEmail1" class="col-sm-3">Qeydiyat Tarixi</label>
                                    <div class="input-group col-sm-9" id="datetimepickerQeydiyyatTarixi">
                                        <input type="date" class="form-control datepicker bootstrap-datetimepicker-widget" name="REGDATE" value="@Convert.ToDateTime(Model.Subscriber.REGDATE).ToString("yyyy-MM-dd")">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-3">Müqavilə Nömrəsi</label>
                                    <div class="input-group col-sm-9">
                                        <input type="text" class="form-control" name="CONTRACT_NO" value="@Model.Subscriber.CONTRACT_NO">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-horizontal">
                                    <label for="exampleInputEmail1" class="col-sm-3">Bitmə Tarixi</label>
                                    <div class="input-group col-sm-9" id="datetimepickerBitmeTarixi">
                                        <input type="date" class="form-control datepicker bootstrap-datetimepicker-widget" autocomplete="off" name="ENDDATE" value="@Convert.ToDateTime(Model.Subscriber.ENDDATE).ToString("yyyy-MM-dd")">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-6">S/V seriya nömrəsi</label>
                                    <div class="input-group col-sm-6">
                                        <input type="tel" class="form-control icon-telephone" name="PSPT_SER" value="@Model.Subscriber.PSPT_SER">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="tel" class="form-control" name="PSPT_NO" value="@Model.Subscriber.PSPT_NO">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="number" id="PİN" class="form-control" name="PİN">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-3">Otaq Sayı</label>
                                    <div class="input-group col-sm-9">
                                        <input type="text" class="form-control icon-telephone">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-horizontal">
                                    <label for="exampleInputEmail1" class="col-sm-3">S/V-nin Tarixi</label>
                                    <div class="input-group col-sm-9">
                                        <input type="date" class="form-control" name="PSPT_DATE" value="@Convert.ToDateTime(Model.Subscriber.PSPT_DATE).ToString("yyyy-MM-dd")">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-9">Normativ Hesabat</label>
                                    <div class="input-group col-sm-3">
                                        @if (Model.Subscriber.NO_METER_CH.Contains("1"))
                                        {
                                            <input type="checkbox" checked class="form-control" style="width:25px;height:25px;" name="NO_METER_CH">
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="form-control" name="NO_METER_CH">
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-6">Normativ Hesabat Dəyəri</label>
                                    <div class="input-group col-sm-6">
                                        <input type="text" class="form-control" name="NO_METER_KWTH" value="@Model.Subscriber.NO_METER_KWTH">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-3">S/V-nin Qeydləri</label>
                                    <div class="input-group col-sm-9">
                                        <textarea class="form-control" rows="2" id="input-demo-h" name="PSPT_NOTE" value="@Model.Subscriber.PSPT_NOTE"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-3">Əlavə Qeydlər</label>
                                    <div class="input-group col-sm-9">
                                        <textarea class="form-control" rows="2" id="input-demo-h"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-3">Personel_ID_SEQ</label>
                                    <div class="input-group col-sm-9">
                                        <select id="input-demo-v" class="form-control" name="PERSONAL_ID_SEQ">
                                            <option>Seçim</option>
                                            @foreach (var personel in Model.PersonelIdSeqs)
                                            {
                                                if (personel.ID == ViewBag.personel)
                                                {
                                                    <option selected value="@personel.ID">@personel.NAME</option>
                                                }
                                                else
                                                {
                                                    <option value="@personel.ID">@personel.NAME</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-3">Qəsəbə(*)</label>
                                    <div class="input-group col-sm-9">
                                        <select id="input-demo-v" class="form-control">
                                            <option>Seçim...</option>
                                            @foreach (var qesebe in Model.Qesebes)
                                            {
                                                <option value="@qesebe.ID">@qesebe.NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="default-tabs-justified-profile" class="tab-pane">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-3">Tarif</label>
                                    <div class="input-group col-sm-9">
                                        <select id="input-demo-v" class="form-control">
                                            <option>Seçim...</option>
                                            @foreach (var tarif in Model.Tarifs)
                                            {
                                                <option value="@tarif.ID">@tarif.NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-3">Tarif</label>
                                    <div class="input-group col-sm-9">
                                        <select id="input-demo-v" class="form-control">
                                            <option>Seçim...</option>
                                            @foreach (var tarif in Model.Tarifs)
                                            {
                                                <option value="@tarif.ID">@tarif.NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-3">ƏDV</label>
                                    <div class="input-group col-sm-9">
                                        <input type="tel" class="form-control icon-telephone">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-3">Elektron Tarif</label>
                                    <div class="input-group col-sm-9">
                                        <input type="text" class="form-control icon-telephone">
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-3">Mənzil Tipi</label>
                                    <div class="input-group col-sm-9">
                                        <select id="input-demo-v" class="form-control" name="BUILDING_ID_SEQ">
                                            <option>Menzil Tipi Seçin</option>
                                            @foreach (var menzilTipi in Model.MenzilTipis)
                                            {
                                                if (menzilTipi.ID == ViewBag.menzilTipi)
                                                {
                                                    <option selected value="@menzilTipi.ID">@menzilTipi.NAME</option>
                                                }
                                                else
                                                {
                                                    <option value="@menzilTipi.ID">@menzilTipi.NAME</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-3">Sahə(*)</label>
                                    <div class="input-group col-sm-9">
                                        <select id="input-demo-v" class="form-control">
                                            <option>Seçim...</option>
                                            @foreach (var sahe in Model.Sahes)
                                            {
                                                <option value="@sahe.ID">@sahe.NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-3">Qəsəbə(*)</label>
                                    <div class="input-group col-sm-9">
                                        <select id="input-demo-v" class="form-control">
                                            <option>Seçim...</option>
                                            @foreach (var qesebe in Model.Qesebes)
                                            {
                                                <option value="@qesebe.ID">@qesebe.NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" value="@Model.Subscriber.OLD_SUBID" name="OLD_SUBID"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>